= simple_form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      .alert.alert-danger.long-field
        = pluralize(@article.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  %p.form-group
    = f.label :title
    %br
    = f.text_field :title
  %p.form-group
    = f.input :contents, label: "Contents", as: :pagedown, input_html: { preview: true }
    / # = f.text_area :contents, class: "long-field", placeholder: "Article placeholder"
  %p
    = f.submit "Submit", class: "btn btn-success"
    \ 
    \#{link_to 'Back', articles_path, class: 'btn btn-primary'}
