%h1
  Articles #{link_to 'New article', new_article_path, class: "btn btn-primary"}
- @articles.each do |article|
  .article
    %h1= article.title
    %small= article.date
    %p= markdown(article.contents).html_safe
    = link_to 'edit', edit_article_path(article), class: 'btn btn-primary'
    = link_to 'delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br/
= will_paginate @articles, renderer: BootstrapPagination::Rails
